<form>

  <h4 *ngIf="mode == 'add' else edit">Add new</h4>
  <ng-template #edit>
    <h4>Modify</h4>
  </ng-template>

  <mat-form-field appearance="fill">
    <mat-label>Manufacturer</mat-label>
    <mat-select [(ngModel)]="car.manufacturerID" name="manufacturerID">
      <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
        {{ manufacturer.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Model</mat-label>
    <mat-select [(ngModel)]="car.carDetailID" name="carDetailID">
      <mat-option *ngFor="let carDetail of carDetails" [value]="carDetail.id">
        {{ carDetail.model }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-group">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Close</button>
  </div>
</form>
