<mat-card>
  <mat-card-header>
    <i mat-card-avatar class="material-icons">drive_eta</i>
    <mat-card-title>No. {{ car.id }}</mat-card-title>
    <mat-card-subtitle>Car</mat-card-subtitle>
  </mat-card-header>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <img [hidden]="loading" (load)="onLoad()" class="height" src="../../assets/car_placeholder.png" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span>Manufacturer</span>
        <span>{{ car?.manufacturer?.name }}</span>
      </mat-list-item>
      <mat-list-item>
        <span>Model</span>
        <span>{{ car?.carDetail?.model }}</span>
      </mat-list-item>
      <mat-list-item>
        <span>Color</span>
        <span>{{ car?.carDetail?.color }}</span>
      </mat-list-item>
      <mat-list-item>
        <span>Fuel</span>
        <span>{{ car?.carDetail?.fuel }}</span>
      </mat-list-item>
     </mat-list>
  </mat-card-content>
</mat-card>