@import "../../theme/variables.scss";

table{
    width: 100%;
    table-layout: fixed;
}

th {
    background-color: $text;
    color: white;
    text-align: center !important;
}


button {
    margin-right: 1rem;
}

.actions {
    text-align: center !important;
}
